{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/product/index.css") }}">{% endblock %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1 class="title">Nos produits</h1>

    <div id="produits">
        {% for product in products %}
            <a href="{{ path("app_product_show",{
                id: product.id
            }) }}" class="produit">
                <div class="image">
                    <img alt="image du produit" src="{{ asset(product.image) }}">
                </div>
                <p class="name">{{ product.name }}</p>

            </a>
        {% endfor %}
    </div>

    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
